header {
    height: 80px;
    font-family: 'Segoe UI';
    font-size: xx-large;
    border-radius: 5px;
    /* border: 5px solid red; */
    grid-column: 1/12;
}

ul {
    overflow: hidden;
    cursor: pointer;
    display: inline;

}

li {
    list-style-type: none;
    float: left;
    padding-left: 10px;

}

header a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}

header a:hover:not(.active) {
    background-color: #99D98C;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

header a.active {
    background-color: #52B69A;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.box {
    width: 700px;
    height: 300px;
    background: #52B69A;
    margin: 15px;
}
.box2 {
    width: 700px;
    height: 700px;
    background: #52B69A;
    margin: 15px;
}

body {
    display: grid;
    grid-template-columns: 300px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 194, 194);

}
body h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body p{
    font-size: large;
}

.mail{
    color: #184E77;
    
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        'footer footer footer footer footer footer';
    }
    
  }*/

  .map{
    overflow: hidden;
    padding-bottom: 80%;
    position: relative;
    height: 0;
   
    }
    
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
 
    }

