* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

.item {
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 60px;
    margin-bottom: 30px;
    height: 80px;
    background-color: rgb(194, 194, 194);
    font-family: 'Segoe UI';
    border-radius: 5px;

}


/* @media (max-width:500px) {
    .navbar {
        grid-template-rows: repeat(1, 225px);
    }
} */

.menu {
    font-size: 30px;
    display: flex;
    flex-direction: row;

}

ul {
    list-style-type: none;
    overflow: hidden;
    cursor: pointer;
    display: inline;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
}


.navbar a:hover:not(.active) {
    background-color: #99D98C;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.navbar a.active {
    background-color: #52B69A;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.cart {
    position: relative;
    font-size: 30px;
    padding: 3px;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 20px;
    background-color: rgb(247, 167, 230);
    border-radius: 5px;
    padding: 3px;
}