/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    font-family: sans-serif;
background-color: rgb(194, 194, 194);
} */

/* .item {
    cursor: pointer;
} */

/* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 60px;
    margin-bottom: 30px;
    height: 80px;
    background-color: rgb(194, 194, 194);
    font-family: 'Segoe UI';
    border-radius: 5px;

} */


/* @media (max-width:500px) {
    .navbar {
        grid-template-rows: repeat(1, 225px);
    }
} */

/* .menu {
    font-size: 30px;
    display: flex;
    flex-direction: row;

}

ul {
    list-style-type: none;
    overflow: hidden;
    cursor: pointer;
    display: inline;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
}


.navbar a:hover:not(.active) {
    background-color: #99D98C;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.navbar a.active {
    background-color: #52B69A;
    color: white;
    border-radius: 5px;
    padding: 5px;
} */

/* .cart {
    position: relative;
    font-size: 30px;
    padding: 3px;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
} */

/* .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 20px;
    background-color: rgb(247, 167, 230);
    border-radius: 5px;
    padding: 3px;
} */

.text-center{
    text-align: center;
    margin-bottom: 20px;
}

/* .HomeButton{
    background-color: #99D98C;
    color: white;
    font-size: xx-large;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
} */

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1,320px);
    justify-content: center;
    gap: 15px;

}

.cart-item{
    border: 4px solid #24b2dd;
    border-radius: 5px;
    display: flex;
    width: 350px;
    padding: 10px;
}

.title-price-x{
    width: 225px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.title-price{
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-price{
    background-color: #68aa5a;
    color: white;
    border: 4px;
    padding: 3px 5px;
    
}
.buttons{
    font-weight: bolder;
    display: flex;
    gap: 10px;
    padding:10px;
    cursor: pointer;
}

.card-totalprice{
    padding: 10px;
}

.checkoutbutton{
        background-color: #99D98C;
        color: white;
        font-size: xx-large;
        border: none;
        padding: 5px;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
}





.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
}


.modal-content {
    background-color: #99D98C;
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid #888;
    width: 80%;
    height: 40%;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}