
body{
background-color: rgb(194, 194, 194);

} 

.container-fluid{
    display: flex;
    justify-content: space-between;
    height: 80px;
    font-family: 'Segoe UI';
    font-size: xx-large;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
   
        
}

ul {
    overflow: hidden;
    cursor: pointer;
    display: inline;

}

li {
    list-style-type: none;
    float: left;
    padding-left: 10px;
}

.container-fluid a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    
}

.container-fluid a:hover:not(.active) {
    background-color: #99D98C;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.container-fluid .menu a.active {
    background-color: #52B69A;
    color: white;
    border-radius: 5px;
    padding: 5px;
    
}

.cart {
    position: relative;
    font-size: 30px;
    padding: 3px;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 20px;
    background-color: rgb(247, 167, 230);
    border-radius: 5px;
    padding: 3px;
}



.shop {
     display: grid;
    grid-template-columns: repeat(3, 230px);
    gap: 25px;
    justify-content: center;
    cursor: pointer;
}



.item {
    border: 5px solid #026e76;
    border-radius: 10px;
}

.item img{
    width: 100%;
    border: none;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 14px;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    font-weight: bolder;
}




.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid pink;
    width: 80%;
    cursor: pointer;
    
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}